{% extends 'base.html' %} {% block content %}
<h1 style="text-align: center;">LDAP authentication</h1>

<div style="display: flex; justify-content: center;">
<form action="/login" method="post">
  {% csrf_token %}
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <p style="margin: 4px 0;" for="uid">User id:</p>
    <input name="uid" type="text" placeholder="name_surename" />
  </div> 
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <p  style="margin: 4px 0;" for="pass">Password:</p>
    <input name="pass" type="password" />
  </div>
  <div style="margin-bottom: 8px; text-align: end;">
    <button type="submit">Connect</button>
  </div>
</form>
</div>
{% endblock %}
